<div class="cave-guideline"></div>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <i class="fa-solid fa-water-ladder me-2"></i>DEEP<span>DOWN</span>
    </a>
    <button class="navbar-toggler border-0 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <i class="fa-solid fa-bars-staggered" style="color: var(--accent-cyan); font-size: 1.5rem;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" id="link-index" href="index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" id="link-nosotros" href="nosotros.html">Ciencia</a></li>
        <li class="nav-item"><a class="nav-link" id="link-servicios" href="servicios.html">Cuevas</a></li>
        <li class="nav-item"><a class="nav-link" id="link-galeria" href="galeria.html">Galeria</a></li>
        <li class="nav-item"><a class="nav-link" id="link-contacto" href="contacto.html">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>